# Variables de entorno
.env
.env.local
.env.production

# Dependencias
node_modules/
*/node_modules/

# Compilados
dist/
*/dist/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# Base de datos(es muy pesado)
database/init.sql